.header__logo {
  height: 33px;
  width: 142px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
}

@media screen and (max-width:920px) {
  .header__logo {
    width: 103.7px;
    margin-left: 27px;
    height: 24.4px;
  }
}