.popup__save-btn {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

.popup__save-btn:focus {
  border: none;
}

.popup__save-btn:disabled {
  cursor: not-allowed;
  opacity: 0.2;
  background-color: #E5E5E5;
  border: 1px solid #000000;
  color: #000000;
}

@media screen and (max-width: 619px) {
  .popup__save-btn {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}