.card__like-btn {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 15px;
  width: 22px;
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/hearth.svg);
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.card__like-btn:hover {
  opacity: 0.3;
}